{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Rediģēt ierakstu</h1>

    {{ form(edit_form) }}

        <div class="record_actions">
   
      
    {{ form(delete_form) }}
</div>
{% endblock %}
